@model PagedList.IPagedList<MusicStreaming.Models.Artist>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
    </div>
    <div class="col-md-4 offset-md-6">
        @using (Html.BeginForm("Index", "Artists", FormMethod.Get))
        {<div class="form-inline">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control mr-1" })
                <button type="submit" value="Search" class="btn btn-primary margin-20">Search</button>
            </div>
        }
    </div>
    @foreach (var artist in Model)
    {
        
        <div class="col-md-2 margin-20">
            <div class="card ">
                <img src="@Url.Content(artist.ImgUrl)" alt="" class="image">
                <div class="middle">
                    <div class="text"><a href="/Artists/Details/@artist.ArtistId">@artist.Name</a></div>
                </div>
            </div>
        </div>
    }

</div>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
